html {
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  width: 1040px;
  height: 518px;
}
#board_background {
  width: 1040px;
  height: 518px;
  background-image: url("risk_map.png");
  background-size: contain;
}
