html {
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  width: 1040px;
  height: 518px;
}
map area:hover{
    outline: 5px dotted red;
}
.counter{
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: black;
  pointer-events: none;
}
#NA1Counter {
  left: 70px;
  top: 120px;
}
#NA2Counter {
  left: 70px;
  top: 120px;
}
#NA3Counter {
  left: 70px;
  top: 120px;
}
#NA4Counter {
  left: 70px;
  top: 120px;
}
#NA5Counter {
  left: 70px;
  top: 120px;
}
#NA6Counter {
  left: 70px;
  top: 120px;
}
#NA7Counter {
  left: 70px;
  top: 120px;
}
#NA8Counter {
  left: 70px;
  top: 120px;
}
#NA9Counter {
  left: 70px;
  top: 120px;
}



#SA1Counter {
  left: 70px;
  top: 120px;
}
#SA2Counter {
  left: 70px;
  top: 120px;
}
#SA3Counter {
  left: 70px;
  top: 120px;
}
#SA4Counter {
  left: 70px;
  top: 120px;
}




#EU1Counter {
  left: 70px;
  top: 120px;
}
#EU2Counter {
  left: 70px;
  top: 120px;
}
#EU3Counter {
  left: 70px;
  top: 120px;
}
#EU4Counter {
  left: 70px;
  top: 120px;
}
#EU5Counter {
  left: 70px;
  top: 120px;
}
#EU6Counter {
  left: 70px;
  top: 120px;
}
#EU7Counter {
  left: 70px;
  top: 120px;
}



#AF1Counter {
  left: 70px;
  top: 120px;
}
#AF2Counter {
  left: 70px;
  top: 120px;
}
#AF3Counter {
  left: 70px;
  top: 120px;
}
#AF4Counter {
  left: 70px;
  top: 120px;
}
#AF5Counter {
  left: 70px;
  top: 120px;
}
#AF6Counter {
  left: 70px;
  top: 120px;
}




#OC1Counter {
  left: 70px;
  top: 120px;
}
#OC2Counter {
  left: 70px;
  top: 120px;
}
#OC3Counter {
  left: 70px;
  top: 120px;
}
#OC4Counter {
  left: 70px;
  top: 120px;
}



#AS1Counter {
  left: 70px;
  top: 120px;
}
#AS2Counter {
  left: 70px;
  top: 120px;
}
#AS3Counter {
  left: 70px;
  top: 120px;
}
#AS4Counter {
  left: 70px;
  top: 120px;
}
#AS5Counter {
  left: 70px;
  top: 120px;
}
#AS6Counter {
  left: 70px;
  top: 120px;
}
#AS7Counter {
  left: 70px;
  top: 120px;
}
#AS8Counter {
  left: 70px;
  top: 120px;
}
#AS9Counter {
  left: 70px;
  top: 120px;
}
#AS10Counter {
  left: 70px;
  top: 120px;
}
#AS11Counter {
  left: 70px;
  top: 120px;
}
#AS12Counter {
  left: 70px;
  top: 120px;
}
